/* New Css for Effects */

.dark{
    background-color: transparent;
}
.header{
    background-color: transparent;
}

.home_footer_dark{
    background-color: #19191980 !important;
}
.white_trans_blur{
    background-color: #f1f1f139 !important;
    backdrop-filter:blur(10px) !important;
}


/* Main Css Section */
.section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    color: white;
    margin: auto;
    padding: 20px;
    backdrop-filter:blur(5px);

}
.home_video{
    /* width: 100%; */
    /* height: auto; */
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    filter: brightness(1);
    min-width: 100%;
    min-height: 100%;
}
.section_left{
    padding: 10px;
    z-index: 0;
}
.section_left_mini_title{
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 9px;
    color: #FFFFFF80;
    margin-bottom: 16px;
}
.section_left_title{
    color: #ffffff;
    font-size: 56px;
    font-weight: 700;
    margin-bottom: 24px;
    line-height: 1.1;
}
.section_left_desc{
    color: #FFFFFF80;
    font-size: 15px;
    margin-bottom: 40px;
    font-weight: 400;
    line-height: 1.7;
    max-width: 337px;
}
.section_left_button{
    font-size: 13px;
    color: #ffffff;
    background-color: #D87D4A;
    padding: 14px 32px;
    width: 100px;
    text-align: center;
    font-weight: 600;
    letter-spacing: 1px;
}
.section_left_button:hover{
    background-color: #FBAF85;
}
.section_right{
    padding: 10px;
    width: 60%;
    pointer-events: none;

}
.section_right img{
    width: 100%;
    border-radius: 2000%;
    background-color: #19191940;
    backdrop-filter:blur(10px);
    border-radius: 8px;
    opacity: 0;
    z-index: -3;
    pointer-events: none;
}


.section2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 200px;
    padding:0 24px;
}
.section2_item{
    background-color: #f1f1f1;
    text-align: center;
    border-radius: 7px;
    width: 30%;
    max-width: 350px;
    position: relative;
    padding: 88px 0 22px;
    margin: 0 1.2%;
    cursor: pointer;
}
.section2_item_img{
    position: absolute;
    width: 138px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 80px;
}
.section2_item_img img{
    width: 100%;
}
.section2_item_title{
    font-size: 15px;
    color: #191919;
    margin-bottom: 16px;
    font-weight: 700;
    letter-spacing: 1.6px;
}
.section2_item_shop{
    font-size: 13px;
    color: #00000080;
    font-weight: 800;
    transition: 0.5s;
}
.section2_item:hover .section2_item_shop{
    transition: 0.5s;
    color: #D87D4A !important;
}
.section2_item_shop img{
    margin-left: 13.32px;
    max-width: 100%;
}


.section3{
    width: 95%;
    max-width: 1100px;
    background-color: #d87e4a72;
    /* background-color: #D87D4A; */
    backdrop-filter:blur(10px);
    margin: auto;
    border-radius: 10px;
    margin-top:120px;
}
.section3_item{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-image: url("../images/pattern-circles.svg"); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -260px -150px;
    overflow: hidden;
    padding: 96px 24px 0;
}
.section3_item_img{
    width: 410px;
    margin-bottom: -20px;
    /* margin-left: 117px; */
}
.section3_item_img img{
    width: 100%;
}
.section3_item_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    width: 368px;
}
.section3_item_title{
    color: #ffffff;
    font-size: 56px;
    margin-bottom: 24px;
    font-weight: 700;
    letter-spacing: 4px;
    line-height: 1;
}
.section3_item_desc{
    font-size: 15px;
    color: #FFFFFFBF;
    margin-bottom: 40px;
    font-weight: 100;
}
.section3_item_btn{
    font-size: 13px;
    color: #ffffff;
    background-color: #191919;
    padding: 14px 32px;
    width: 100px;
    text-align: center;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
}
.section3_item_btn:hover{
    background-color: #4C4C4C;
}


.section4{
    width: 95%;
    margin: auto;
    margin-top:48px;
    max-width: 1100px;
    border-radius: 8px;
}
.section4_item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url("../images/image-speaker-zx7-1.png");
    /* background: url("../images/image-speaker-zx7.jpg"); */
    background-color:#a4a4a430;
    backdrop-filter:blur(10px);
    height: 320px;
    padding-left: 100px;
    border-radius: 8px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px;
}

.section4_item_title{
    font-size: 28px;
    margin-bottom: 32px;
    color: #191919;
    font-weight: 700;
}
.section4_item_btn{
    font-size: 13px;
    color: #191919;
    background-color: transparent;
    border: 1px solid #191919;
    padding: 14px 32px;
    width: 100px;
    text-align: center;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s;
}
.section4_item_btn:hover{
    background-color: #191919;
    color: #f1f1f1;
}

.section5,.section6{
    width: 95%;
    margin: auto;
    margin-top:48px;
    max-width: 1100px;
}
.section5_item,.section6_item{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.section5_item{
    height: 20vw;
    max-height: 310px;
}
.section5_item_img{
    width: 52%;
    margin-right: 2%;
    border-radius: 8px;
    background-image: url("/images/image-earphones-yx1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height:100%;
    min-height: 240px;
    /* max-height: 310px; */
}

.section5_item_info{
    width: 42%;
    margin-left: 2%;
    border-radius: 8px;
    /* background: #f1f1f1; */
    /* background: #f1f1f158; */
    background-color:#a4a4a430;
    backdrop-filter:blur(10px);
    padding-left: 10%;
    height: 100%;
    min-height: 240px;
    /* max-height: 320px; */
    /* height:20vw; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.section6{
    margin-top: 120px;
    /* background-color:#a4a4a430; */
    /* backdrop-filter:blur(10px); */
    border-radius: 8px; 
}
.section6_item{
    justify-content: center;
    align-items: center;
}
.section6_item_info{
    width: 48%;
    margin: auto;
}
.section6_item_title{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 40px;
    line-height: 1.2;
    letter-spacing: 1.4304px;
}
.section6_item_title span{
    color: #D87D4A;
}
.section6_item_desc{
    color: #00000080;
    font-size: 15px;
    line-height: 1.66;
    padding-right: 36px;
}
.section6_item_img{
    border-radius: 8px;
    width: 48%;
    background-image: url("/images/image-best-gear.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 50vw;
    max-height: 580px;
}









@media (max-width:990px){
    .dark{
        background-color: #191919 !important;
    }
    .header{
        background-color: #191919 !important;
    }
    
    .home_footer_dark{
        background-color: #191919 !important;
    }
    .white_trans_blur{
        /* background-color: #f1f1f139 !important;
        backdrop-filter:blur(10px) !important; */
        /* background-color: #f1f1f1 !important; */
    }
    .home_video{
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
        filter: brightness(0.6);
        min-width: 100%;
        min-height: 100%;
    }





    .section{
        margin: auto;
        justify-content: center;
        text-align: center;
        background-color: #191919;
    }
    .section_left{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .section_left_title{
        padding: 0 0.10%;
    }
    .section_right{
        /* width: 80%; */
        width: 800px;
        margin: 10px 0;
    }
    .section_right img{
        background: none;
        backdrop-filter: none;
    }
    .section2_item{
        background-color: #f1f1f1 !important;
    }
    .section3{
        background-color: #D87D4A;
        backdrop-filter: none;
    }
    .section3_item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% -250px;
        overflow: hidden;
        padding: 55px 24px;
    }
    .section3_item_img{
        max-width: 410px;
        width: 29%;
        margin-bottom: 32px;
    }
    .section3_item_info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .section3_item_desc{
        font-size: 15px;
        color: #FFFFFFBF;
        margin-bottom: 65px;
        font-weight: 100;
    }
    .section4_item{
        background: url("../images/image-speaker-zx7-2.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        height: 437px;
        height: 45vw;
        padding-left: 50px;
    }
    .section5_item{
        height: 41vw;
        max-height: 1000px;
    }
    .section5_item_img{
        width: 52%;
        margin-right: 0.10%;
        border-radius: 8px;
        background-image: url("/images/earphonestab.jpg");
        background-size: 100%;
        background-repeat: no-repeat;
        height:100%;
    }
    .section5_item_info{
        padding: 0 1% ;
        padding-left: 3%;
    }
    .section6_item{
        flex-direction:column-reverse;
        align-items: stretch;
        justify-content: stretch;
        width: 100%;
        background: none !important;
    }
    .section6_item_info{
        width: 90%;
        text-align: center;
    }
    .section6_item_img{
        width: 100%;
        background-image: url("/images/tabgear.jpg");
        background-size: 100%;
        background-repeat: no-repeat;
        height: 45vw;
    }
}





@media (max-width:480px){
    .section_left{
        /* transform:scale(0.7); */
    }
    .section_left_title{
        font-size: 36px;
    }
    .section_right{
        width: 800px !important;
        margin: 20px 0;
    }
    .section_right img{
       width: 120vw;
    }
   .section_left_title{
       width: 95%;
   }
    .section2{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin: 0px auto;
        margin-top: 100px;
        padding: 0%;
    }
    .section2_item{
        width: 100%;
        min-width: 100px;
        justify-content: center;
        align-items: baseline;
    }
    .section2_item:not(:last-child){
        margin-bottom: 65px;
    }
    .section3_item_info{
        width: 100%;
    }
    .section3_item_title{
        font-size: 36px;
    }
    .section3_item_desc{
        width: 100%;
        font-weight: 100 !important;
    }
    .section4_item{
        background: url("../images/image-speaker-zx7-3.jpg");
    }
    .section4_item{
        background: url("../images/image-speaker-zx7-3.jpg");
        background-size: 100%;
        background-repeat: no-repeat;
        height: 85vw;
        padding-left: 20px;

    }
    .section5_item{
        display: flex;
        flex-direction: column;
        align-items:center;
        width: 100%;
        /* margin-top: 200px; */
        /* margin-bottom: 230px; */
        height:unset;
        max-height: unset;
        min-height: unset;
    }
    .section5_item_img{
        width: 95%;
        background-image: url("/images/image-earphones-yx1.jpg");
        background-size: 100%;
        background-repeat: no-repeat;
        margin-bottom: 30px;
        border-radius: 8px;
        height: 50vw;
        min-height: unset;
    }
    .section5_item_info{
        padding: 0 1% ;
        padding-left: 3%;
        width: 93%;
    }
    .section6_item_img{
        border-radius: 8px;
        width: 90%;
        margin: 0 auto;
        background-image: url("/images/mobilegear.jpg");
        background-size: 100%;
        background-repeat: no-repeat;
        height: 74vw;
        max-height: 1000px;
        margin-bottom: 40px;
    }
    .section6_item_title{
        font-size: 28px;
        font-weight: 700;
        margin-bottom: 40px;
        line-height: 1.3;
        letter-spacing: 1.4304px;
    }
    .section6_item_desc{
        font-size: 15px;
        text-align: center;
        width: 90%;
        padding: 0;
        margin: auto;
        line-height: 1.66;
    }
}
/* @media (max-width:291px){
    .section_left_title{
        width: 100%;
        font-size: 50px;
    }
} */