.speakers_section{
    display: flex;
    justify-content: center;
}
.speakers_section_title{
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 800;
    padding: 105px 0 97px;
    background-color: #191919;
    letter-spacing: 1.5px;
}
.speakers_section2{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 64px;
    padding:0 24px;
}
.speakers_section2_products{
    display: flex;
    flex-direction: column;
}
.speakers_section2_item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.speakers_section2_item:not(:last-child){
    margin-bottom: 120px;
}
.speakers_section2_item:nth-child(even){
    flex-direction: row-reverse;
}
.speakers_section2_item_info{
    display: flex;
    flex-direction: column;
    font-weight: 500;
    max-width: 443.25px;
    width: 100%;
}
.speakers_section2_item_img{
    margin-right: 125px;
}
.speakers_section2_item_img_odd{
    margin-left: 125px;
    margin-right: 0;
}
.speakers_section2_item_img img {
    max-width: 541px;
    width: 100%;
    border-radius: 8px;
}
.speakers_section2_item_img_odd img{
    max-width: 541px;
    width: 100%;
    border-radius: 8px;
}
.speakers_section2_item_info_new{
    font-size: 14px;
    margin-bottom: 16px;
    color: #D87D4A;
    letter-spacing: 10px;
}
.speakers_section2_item_info_title{
    margin-bottom: 24px;
    font-size: 28px;
    color: #191919;
    font-weight: 800;
}
.speakers_section2_item_info_desc{
    color: #00000080;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 24px;
    line-height: 1.66;
}
.speakers_section2_item_info_btn{
    background-color: #D87D4A;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: 700;
    width: 163px;
    padding: 14px 0;
    text-align: center;
    letter-spacing: 1px;
    cursor: pointer;
}





@media (max-width:990px){
    .speakers_section2_item{
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
    .speakers_section2_item:nth-child(even){
        flex-direction: column;
    }
    .speakers_section2_item_img{
        margin:0;
    }
    .speakers_section2_item_img_odd{
        margin-left: 0;
        margin-right: 0;
    }
    .speakers_section2_item_img img {
        max-width: 5410px;
        width: 100%;
        border-radius: 8px;
    }
    .speakers_section2_item_img_odd img{
        max-width: 5410px;
        width: 100%;
        border-radius: 8px;
    }
    .speakers_section2_item_info{
        font-weight: 500;
        text-align: center;
        max-width: 4430.25px;
        width: 100%;
        margin-top: 32px;
    }
    .speakers_section2_item_info_desc{
        padding: 0px 6%;
    }
    .speakers_section2_item_info_btn{
        margin: auto;
    }
}

@media (max-width:480px){
    .speakers_section_title{
        font-size: 28px;
        padding: 32px 0;
    }
}